.navbar {
  background-color: rgb(59, 59, 59);
  padding: 20px;
  margin: 0;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

.navbar-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list-item {
  cursor: pointer;
  font-weight: 650;
}

.navbar-list-item a {
  padding: 20px 20px;
  text-decoration: none;
  color: aliceblue;
}

.active {
  background-color: rgb(84, 84, 84);
}
