<header class="navbar">
  <nav class="navbar-layout">
    <ul class="navbar-list">
      <li class="navbar-list-item" *ngIf="isAuthenticated">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inventory List</a>
      </li>
      <li class="navbar-list-item" *ngIf="isAuthenticated">
        <a routerLink="/add-inventory" routerLinkActive="active">Add Inventory</a>
      </li>
    </ul>
    <ul class="navbar-list">
      <li class="navbar-list-item" *ngIf="!isAuthenticated">
        <a routerLink="/auth" routerLinkActive="active">Login</a>
      </li>
      <li class="navbar-list-item" *ngIf="isAuthenticated" (click)="logout()">
        <a>Logout</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
